/* #FAF6EB → #F6F0E0 → #F1E9D2 → #E4D8B7 → #D4C39D → #BFA77A */
* {
    transition: 0.5 ease;
}

html {
    scroll-behavior: smooth;
}

.nav-link {
    color: #333;
    font-size: 15px;
    transition: 0.3s;
}

.nav-link:hover {
    color: #000;
}

#logo {
    height: 80px;
}

.glass-navbar {
    background: rgba(250, 246, 235, 0.6);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: 0.3s ease;
}

#banner {
    background-color: #f1e9d2;
    margin-top: 7%;
    margin-bottom: 15%;
}

h1 {
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.skl-card {
    transition: ease 0.3s;
    height: 100%;
    border: 0;
}

.skl-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border: #BFA77A solid 2px;
}

.card-title {
    font-size: clamp(15px, 7vw, 20px);
    min-height: 4rem;
}

.card-text {
    font-size: 13px;
    min-height: 4rem;
}

.eqiup {
    font-size: 10px;
}

.section_title {
    background-image: linear-gradient(to right, white, #f1e9d2, white);
    /* background-color: #f1e9d2; */
}

.carousel-caption {
    z-index: 2;
}

.carousel-item {
    position: relative;
}

.carousel-item::after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.85) 0%,
            rgba(0, 0, 0, 0.4) 40%,
            rgba(0, 0, 0, 0) 100%);

    pointer-events: none;
}

.carousel-caption,
.carousel-control-prev,
.carousel-control-next,
.carousel-item::after {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#tinTheHutCarousel:hover .carousel-caption,
#tinTheHutCarousel:hover .carousel-item::after {
    opacity: 1;
}

#expressOCarousel:hover .carousel-caption,
#expressOCarousel:hover .carousel-control-prev,
#expressOCarousel:hover .carousel-control-next,
#expressOCarousel:hover .carousel-item::after {
    opacity: 1;
}

.projectCarousel {
    background-color: #fcfaf5;
}

.about_me {
    font-size: clamp(15px, 3vw, 20px);
}

.about_me_card {
    height: 100%;
    background-color: #fcfaf5;
}

a {
    color: black;
}

#footer {
    background-color: #D4C39D;
}

#logo_f {
    height: clamp(100px, 20vw, 150px);
}

#svg_mail {
    height: clamp(10px, 3vw, 30px);
}

.svg {
    height: clamp(10px, 3vw, 25px);
}

#credit {
    color: #F6F0E0;
}

@media (max-width: 991px) {
    .nav-link {
        font-size: 20px;
    }

    #greetings {
        font-size: 50px;
    }

    #summary {
        font-size: 25px;
    }

    .about_me {
        font-size: 25px;
    }

    .info-title {
        font-size: 20px;
    }

    .info {
        font-size: 20px;
    }

    .card-text {
        font-size: 15px;
    }
}